/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url('images/background/bg4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }
  
  body, html {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    overflow: hidden;
  }

  .login-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 8%;
    position: relative;
    z-index: 1;
  }
  
  .login-box {
    width: 350px;
    padding: 2rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(18px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .login-box h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .sub-text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .sub-text a {
    color: #7fc7ff;
    text-decoration: none;
  }
  
  form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.08);
    color: white;
  }
  
  form button {
    width: 30%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #9b36ff61, #0077ff59);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  form button:hover {
    opacity: 0.85;
  }

  .name {
    display: flex;
    gap: 10px; /* space between boxes */
  }
  
  .name input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
  }
  .extra-info {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .extra-info input,
.extra-info select {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);  /* Black transparent background */
  color: rgb(118, 118, 118);  /* White text color */
  font-size: 16px;
  
}
.extra-info select {
    -webkit-appearance: none;  /* Remove default styling in some browsers */
    -moz-appearance: none;
    appearance: none;
    .extra-info select {
        -webkit-appearance: none;  /* Remove default styling in some browsers */
        -moz-appearance: none;
        appearance: none;
        background: rgba(0, 0, 0, 0.5);  /* Same transparent background for the select box */
      }
}
.extra-info select:focus {
    outline: none;
    border-color: #000000;  /* Change border color on focus */
  }
  
  
  